<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET Requests</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <style>
        div#databox{
            margin-left: 15px;
            margin-right: 15px;
        }
    </style>
</head>
<body>
    {{>navbar}}<br>
    <div class="title"><center><h1>GET request made successfully</h1></center></div><br><br>
    <div class="box" id="databox">
        <span class="icon has-text-warning is-large">
            <i class="fas fa-exclamation-triangle"></i>
        </span>
        <div class="title" style="font-size:x-large"><center><h1>The Database is empty.<br>Make a POST request first.</h1></center></div>
    </div><br><br>
</body>
{{>footer}}
</html>