{{!-- FOOTER SECTION BEGINS --}}

<style>
    .heart{
        color: red;
      }
      
      #footer {
        bottom: 0;
        }
</style>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" id="footer">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    Created with <h9 class="heart">❤</h9> by 
    <a class="text-reset fw-bold" href="https://www.skushagra.me">Kushagra Sharma</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

{{!-- FOOTER SECTION ENDS --}}